$body-bg-color: rgb(29, 154, 226);
$link-color: rgb(255, 255, 255);
$link-visited-color: rgb(235, 49, 194);
$link-hover-color: rgb(226, 248, 31);
$link-active-color: rgb(87, 245, 39);
$footer-color: rgba(255, 255, 255, 1);
$footer-bg-color: rgba(0, 0, 0, 0.702);
$player-input-color: $footer-bg-color;
$player-label-color: $body-bg-color;
$checked-color: rgba(255, 255, 255, 1);
